 <%= variable %>           <!-- Js output Пр: name: "Petko" (във браузъра ще излезе Petko)    -->
<% console.log("Hey"); %> <!-- JS Execute Код който се изпълнява но няма output и няма да покаже нищо в браузъра-->
<h%- <h1> Hello </h1> %> <!-- Render HTML -->
<%# Comment %>          <!-- Comment -->
<%- include("headers.ejs") %> <!--  insert another EJS file -->